@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';

@theme {
  /* Colors */
  --color-brand-primary: #1A1A1A;
  --color-brand-secondary: #6E4B8A;
  --color-brand-accent: #8CAEA0;
  --color-brand-softAccent: #CFCAC4;
  --color-brand-starkAccent: #A62626;
  --color-brand-neutral: #F7F5EF;
  --color-brand-light: #FEFEFC;

  --color-logo-facebook: #1877F2;
  --color-logo-instagram: #833ab4;
  --color-logo-youtube: #FF0000;

  /* Fonts */
  --font-logo: "Kaushan Script", serif;
  --font-heading: "Quattrocento", serif;
  --font-body: "Quattrocento Sans", sans-serif;
  --font-chinese: "Yuji Mai", serif;
}